@page "/about"

<PageTitle>About Taco Musings</PageTitle>

<h1>What is Taco Musings?</h1>

<div class="p-2">
    <p class="pb-1">
        Taco Musings is a catalog of thoughts and facts, mostly fake, about tacos.
    </p>
        <p class="pb-1">
    Taco Musings exists for one purpose really, as an example/demo/practice application using .NET Blazor WebAssembly.
        It's also supposed to be funny. But that's not guaranteed!</p>
       <p class="pb-1">
        The thoughts and facts and poems are generated using chatGPT 3.5. None of them, or the purported authors, are real.</p>



    If you think that's nifty, give it a thumbs-up below! If you don't think it's nifty, also give it a thumbs-up below!
</div>

<div class="p-2 mt-1">
    <button class="btn btn-primary p-2" @onclick="IncrementCount"><span class="oi oi-thumb-up" aria-hidden="true"></span></button>
    Current thumbs-up count: @currentCount
</div>


@code {
    //TODO : make this an API call that sets a total count on the database, debounce the clicks to avoid spamming the API
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
