@page "/tags";

<div class="md:flex">

    <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-orange-500 font-semibold">Tags</div>
        <p class="mt-2 text-slate-500">All Taco Musings are tagged based on their topics. Click a tag!</p>

    </div>
</div>

@code {

}
