@inherits LayoutComponentBase

<div class="h-lvh bg-gradient-to-b from-orange-100 to-white">
    <NavMenu />
    <div class="max-w-screen-md mx-auto">
        <main> @Body </main>

    </div>
</div>


