@page "/authors/{selectedAuthorId:int}"
@if (selectedContent == null)
{
    <div class="text-center text-2xl text-gray-500">LOADING</div>
}
else
{
    

<div class="md:flex">
    <div class="pt-2 pb-1 px-6">
        <div class="uppercase tracking-wide text-sm text-orange-500 font-semibold">
            @(selectedContent.Any() ? $"Viewing poems by {@selectedAuthorName}" : "Uh Oh")
        </div>
    </div>
</div>

<div class="container flex flex-wrap p-3 mx-auto">



  @if(!selectedContent.Any())
    {
        <div class="text-center text-2xl text-gray-500">No poems by this author yet!</div>
    }
    else
    {
        @foreach (Content c in selectedContent)
        {
            <ContentCard Content="c" />
        }       
    }      


    



</div>
}
@code {

    [Parameter]
    public int selectedAuthorId { get; set; }

    public string selectedAuthorName { get; set; } = string.Empty;

    [Inject]
    public ITacoDataService TacoDataService { get; set; }

    public IEnumerable<Content>? selectedContent { get; set; } = null;

    protected async override Task OnInitializedAsync()
    {
        selectedContent = await TacoDataService.GetContentByAuthor(selectedAuthorId);

        if (selectedContent.Any())
        {
            selectedAuthorName = selectedContent.FirstOrDefault().ContentAuthor;
        }
    }
}
