@page "/";
@page "/home";
@page "/index";

    <div class="md:flex">
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-orange-500 font-semibold">Welcome to TacoPoetry</div>
            <p class="block mt-1 text-lg leading-tight font-medium text-black">Ah, the venerable taco.</p>
            <p class="mt-2 text-slate-500">TacoPoetry is dedicated to everyone's favorite food item, with machine generated odes to man's greatest culinary achievment.</p>
            <p class="mt-2 text-slate-500">Read through the taco themed poetry by selecting from tags, authors or all the poetry.. or learn more about this project by viewing the about page.</p>

        </div>
    </div>

@code {

}
