<nav class="bg-amber-500 p-6">

	<div class="max-w-screen-md mx-auto">
		<div class="max-w-screen-md mr-auto flex flex-col">
			<div class="text-white mr-auto">
				<NavLink href="/"><span class="font-semibold text-xl tracking-tight">Taco Poetry</span></NavLink>
			</div>

			<div class="text-sm flex flex-row">
					<NavLink href="/poetry" class="mt-0 inline-block  text-white hover:text-yellow-200 mr-4">
						Poems
					</NavLink>
					<NavLink href="/authors" class=" mt-0 inline-block  text-white hover:text-yellow-200 mr-4">
						Authors
					</NavLink>
					<NavLink href="/tags" class=" mt-0 inline-block  text-white hover:text-yellow-200 mr-4">
						Tags
					</NavLink>
					<NavLink href="/about" class=" mt-0 inline-block text-white hover:text-yellow-200 hover:bg-amber-400">
						About
					</NavLink>
			</div>
		</div>
	</div>

</nav>

@code {

}
