@page "/authors/{selectedAuthor}"

<div class="md:flex">
    <div class="pt-2 pb-1 px-6">
        <div class="uppercase tracking-wide text-sm text-orange-500 font-semibold">Viewing musings by @selectedAuthor</div>
    </div>
</div>

<div class="container flex flex-wrap p-3 mx-auto">
    @foreach (Content c in selectedContent)
    {
        <ContentCard Content="c" />
    }
</div>

@code {

    [Parameter]
    public string selectedAuthor { get; set; }

    [Parameter]
    public List<Content>? selectedContent { get; set; } = new List<Content>();

    Content testContent = new Content { ContentAuthor = "Evan Knight", ContentBody = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.", ContentTitle = "Lor them!", Tags = new List<string> { "hello", "world", "taco" } };

    protected override async Task OnInitializedAsync()
    {
        selectedContent.Add(testContent);
    }
}
