@page "/tags/{selectedTag:int}"

<div class="md:flex">
    <div class="pt-4 pb-1 px-6">
        <div class="uppercase tracking-wide text-sm text-orange-500 font-semibold">
            @(selectedContent.Any() ? $"Viewing musings tagged with {@selectedTagName}" : "Uh Oh")
        </div>
    </div>
</div>
<div class="container flex flex-wrap p-3 mx-auto">
    @if (!selectedContent.Any())
    {
        <div class="text-center text-2xl text-gray-500">No musings with this tag yet!</div>
    }
    else
    {
    @foreach (Content c in selectedContent)
    {
        <ContentCard Content="c" />
    }        
    }

 
</div>

@code {

    [Parameter]
    public int selectedTag { get; set; }

    public string selectedTagName { get; set; } = string.Empty;

    [Inject]
    public ITacoDataService TacoDataService { get; set; }

    public IEnumerable<Content> selectedContent { get; set; } = new List<Content>();

    protected async override Task OnInitializedAsync()
    {
        selectedContent = await TacoDataService.GetContentByTag(selectedTag);

        if (selectedContent.Any())
        {
            selectedTagName = selectedContent.FirstOrDefault().Tags.Where(t => t.TagId == selectedTag).FirstOrDefault().TagName;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }

}
